<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout">
<head>
    <title>Error</title>
</head>
<body>
<div layout:fragment="content" id="container" class="container">

    <div class="alert alert-warning">
        <h1>Error (<span th:text="${status}">500</span>)</h1>

        <p><span th:text="${exception.message}">message</span></p>

        <p><a th:href="@{/}" href="/">Go Home</a></p>
    </div>
</div>
</body>
</html>